body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#4d5d53;
}

h1{
    color: snow;
    font-size: 40;
}
h2,h3{
    color:snow;
    font-size: larger;
}

p{
    font-family: Helvetica;
    font-size: 20;
    color: snow;
}

p1{
    font-family: Helvetica;
    font-size: 18;
    color: snow;
}

.page1 {
    border: 5px solid#4D5D53;
    background-color: #67756c;
    float: left;
    padding: 10px;
    border-spacing: 10px;
    }

/*Table for the Education test code for now*/

table{
    width: 1200;
}
    
td,th{
    text-align: left;
    background-color:#616d4b;
    font-family: Helvetica;
    font-size: 20;
    color: snow;
}

/*List for */

li{
    font-family: Helvetica;
    font-size: 18;
    color: snow;
}
